package template

templ Base(page string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Media Server - { page }</title>
            <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}